.swiper-pagination {
  bottom: 30px !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  margin: 0 3px !important;
}

.swiper-pagination-bullet-active {
  background: #c99a4f;
  width: 12px;
  border-radius: 6px;
}
